<ion-header>
	<ion-header>
		<ion-toolbar>
			<ion-buttons slot="start">
				<ion-menu-button></ion-menu-button>
			</ion-buttons>
			<ion-title>View All Proxy Requests requested by you</ion-title>
		</ion-toolbar>
	</ion-header>
</ion-header>
<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col col-6 offset-3 text-center>
				<h4>All the proxy requests which you have requested are:</h4>
				<div *ngIf="!success && myProxyRequests.length">
					<form [formGroup]="form">
						<ion-item *ngFor="let c of myProxyRequests;">
							<ion-label><p>{{c.rollno}}	|	 {{c.course_code}}	|	{{c.name}} | 
								<span *ngIf="c.proxy_marked" style="color:green">MARKED</span>
								<span *ngIf="!c.proxy_marked" style="color:orange">WAITING</span>
								</p></ion-label>
								<ion-checkbox [disabled]="c.proxy_marked" (ionChange)="updateCheckedOptions(c, $event.checked)"></ion-checkbox>
						</ion-item>
						<ion-button shape="round" color="primary" [disabled]="!form.valid" (click)="onSubmit()">Cancel Selected Requests</ion-button>
					</form>
					<!--<div>
			 -	<pre>{{form.value | json}}</pre>
			 -	<pre>{{form.valid | json}}</pre>
			 -</div>-->
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-6 offset-3 text-center>
				<div *ngIf="success">
					<div *ngIf="success == 1">
						<img src={{green}}><br>
						<h4>{{successString}}</h4>
					</div>
					<div *ngIf="success == 2">
						<img src={{red}}><br>
						<h3>{{failureString}}</h3>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
