<ion-header>
	<ion-header>
		<ion-toolbar>
			<ion-buttons slot="start">
				<ion-menu-button></ion-menu-button>
			</ion-buttons>
			<ion-title>Anon. Proxy Marking System</ion-title>
		</ion-toolbar>
	</ion-header>
</ion-header>
<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col col-6 offset-3 text-center>
				<p>
				Woke up late for the morning class, don't worry we're here for you. Welcome to our Anonymous Proxy Marking System, you just need to enter your roll no. and then just request the proxy for the subjects (which you hate the most xD). Then one of your friends present in that class will mark your proxy. 
				</p>
					<p>
					After	that the data will be sent to the SSAC for future enquiry (Just Kidding! Relax you and your's friends identity will remain anonymous(even to us.)). So from now on enjoy your night outs and have a sound morning sleep! :) 
					</p>
					<p>
					Developed by <i><strong>Bajrang Dal</strong>!</i></p>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
